body{
    background:url(../img/static.gif);
    background-size: cover;
}

#start{

    position: absolute;
    display: block;

    padding: 25px;
    font-size:large;

    top: 55%;
    left: 45%;

    background-color:gray;
    opacity: 90%;
    color: white;
}

#main_title{
    position: absolute;
    display: block;

    background-color:gray;
    opacity: 90%;
    color: white;

    padding: 45px;
    font-size:large;
    letter-spacing: 5px;;
    
    left: 38%;
    top: 42%;
    }

#forsen{

    position: absolute;
    display: block;

    left: 40%;
    top: 8%;

}

#open_cam{
    
    position: absolute;
    display: none;

    top: 85%;
    left: 36%;

    padding: 40px;
    width: 540px;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}

#close_cam{
    
    position: absolute;
    display: none;

    top: 85%;
    left: 36%;

    padding: 40px;
    width: 540px;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}

#look_left{
    position: absolute;
    display: none;
    

    padding: 25px;
    width: 30px;
    height: 540px;

    top: 20%;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}

#look_right{
    position: absolute;
    display: none;
    

    padding: 25px;
    width: 30px;
    height: 540px;

    top: 20%;
    left: 96.7%;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}

#look_left_back{
    position: absolute;
    display: none;
    

    padding: 25px;
    width: 30px;
    height: 540px;

    top: 20%;
    left: 96.7%;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}

#look_right_back{
    position: absolute;
    display: none;
    

    padding: 25px;
    width: 30px;
    height: 540px;

    top: 20%;

    font-size: 30px;

    background-color: darkgray;
    color:white;
}